.sidenav-overlay {
  z-index: 0;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#index-banner {
  min-height: 215px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.crud-buttons  {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.new .crud-buttons {
  position: relative;
  bottom: 0px;
  right: 0px;
}

.crud-buttons a {
  margin-right: 10px;
}

nav ul a, nav .brand-logo {
    color: white;
}

.card .card-image .card-title {
    color: darkgray;
    background-color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
}

h1.header.center, h5.header.col.s12.light {
    text-shadow: rgba(0, 0, 0, 0.75) 2px 2px 2px !important;
}

.card .card-image img {
    width: 90%;
    display: inline;
    margin-top: 5px;
}

.modal {
  max-height: 85%;
}

.btn-floating:hover,
.btn-large:hover {
  opacity: 0.8;
  text-shadow: rgba(0, 0, 0, 0.75) 4px 4px 4px;
}

.embeded-image {
    width: 300px;
    height: 300px;
    background-size: 100% 100%;
    display: inline-block;
}

.image-slide-show {
  width: 360px;
  padding: 0px 5px;
  border: 2px solid #d6d6d6;
  margin: 20px 10px 10px 0px;
}

.image-slide-show.s12 {
  width: 100%;
  border: none;
  margin: 0px;
}

.image-slide-show .modal-tabs {
  border-bottom: 2px solid #d6d6d6;
  margin-bottom: 2px;
}

.image-slide-show .modal-tabs .embeded-image {
  width: 350px;
  height: 350px;
  display: inline-block;
}

.image-slide-show .thumbnail {
  height: 50px;
  width: 50px;
}

.image-slide-show.s12 .thumbnail,
.image-slide-show.s12 .tabs,
.image-slide-show.s12 .tab {
  height: 100px;
}

.image-slide-show.s12 .thumbnail {
  width: 100px;
}

.card-image {
  overflow: hidden;
}

.parallax-container .header {
    margin-top: 0px;
}

@media only screen and (max-width : 992px) {
  .parallax-container {
    min-height: 250px;
  }
  .parallax-container .section {
    position: relative;
  }
  #index-banner .section {
    top: 10%;
  }
  .modal {
    width: 95%;
    max-height: 100%;
    height: 98% !important;
    top: 1% !important;
  }
}

@media only screen and (max-width : 600px) {
  .parallax-container {
    min-height: 185px;
  }

  .parallax-container .header {
    font-size: 3.2rem;
  }

  #index-banner .section {
    top: 0;
  }
}